---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import ArticleAuthors from "./ArticleAuthors.astro";
import MinutesRead from "./MinutesRead.astro";
import PublishedOrUpdated from "./PublishedOrUpdated.astro";

interface Props {
	postId: string;
	size?: "small" | "medium" | "large";
}
const { postId }: Props = Astro.props;
const posts = await getCollection("posts");
const post = posts.find((post) => post.id === postId);

if (!post) return;

let { size } = Astro.props;
if (!size) size = "small";
---

<li
	class:list={[
		"xs:items-center !m-0 flex gap-4 !p-0",
		{ "xs:flex-row flex-col": size === "small" },
		{ "flex-col sm:flex-row lg:flex-col": size === "large" },
	]}
>
	{post.data.cover &&
		<a
			href={`/posts/${post.slug}`}
			aria-hidden={true}
			tabindex={-1}
			class:list={[
				"not-format",
				{ "flex-shrink-0": size === "small" },
				{ "sm:h-48 sm:w-auto lg:h-auto lg:w-full": size === "large" },
			]}
		>
			<Picture
				aria-hidden={true}
				alt=""
				class:list={[
					"!m-0 flex items-center justify-center rounded object-cover transition-transform",
					{
						"xs:w-48 xs:h-36 aspect-video w-full sm:h-auto sm:hover:scale-105":
						size === "small",
					},
					{
						"aspect-video w-full sm:aspect-auto sm:h-48 sm:w-auto sm:hover:scale-[102%] lg:aspect-video lg:h-auto lg:w-full":
							size === "large",
					},
				]}
				src={post.data.cover}
				loading="eager"
				quality="high"
				widths={[432, 720]}
			sizes={`(max-width: 720px) 720px, (max-width: 1600px) 1000px`}
				transition:name={`cover-${post.slug}`}
			/>
		</a>
	}
	{
		size === "small" && (
			<div class="!m-0 my-auto min-w-0 flex-1">
				<a
					href={`/posts/${post.slug}`}
					class="group min-w-0 flex-1 !no-underline !ring-0 outline-none"
				>
					{/* Workaround for broken styles if applied to a tag */}
					<h3 class="!my-1 rounded-md !text-xl ring-violet-600 group-hover:underline group-focus-visible:ring-2 lg:overflow-hidden lg:text-ellipsis lg:whitespace-nowrap dark:ring-gray-50">
						{post.data.title}
					</h3>
				</a>
				<div class="format dark:format-invert">
					<PublishedOrUpdated {...post.data} /> •{" "}
					<MinutesRead postId={post.id} />
				</div>
				<div class="mt-1">
					<ArticleAuthors postId={post.id} size="small" />
				</div>
			</div>
		)
	}
	{
		size === "large" && (
			<div class="mt-1 mr-auto flex flex-col gap-y-2.5">
				<div class="format dark:format-invert">
					<PublishedOrUpdated {...post.data} /> •{" "}
					<MinutesRead postId={post.id} />
				</div>
				<a
					href={`/posts/${post.slug}`}
					class="group !no-underline !ring-0 outline-none"
				>
					{/* Workaround for broken styles if applied to a tag */}
					<h3 class="!mt-1 !mb-0 rounded-md !text-xl ring-violet-600 group-hover:underline group-focus-visible:ring-2 dark:ring-gray-50">
						{post.data.title}
					</h3>
				</a>
				<p class="!m-0 max-w-prose">
					{post.data.description ?? <i>No description found.</i>}
				</p>
				<ArticleAuthors postId={post.id} size="medium" />
			</div>
		)
	}
</li>
