---
import Picture from "@/components/primitives/Picture.astro";
import { getCollection } from "astro:content";
import ArticleAuthors from "./ArticleAuthors.astro";
import MinutesRead from "./MinutesRead.astro";
import PublishedOrUpdated from "./PublishedOrUpdated.astro";

interface Props {
	postId: string;
	priority?: boolean;
}
const { postId }: Props = Astro.props;
const posts = await getCollection("posts");
const post = posts.find((post) => post.id === postId);

if (!post) return;

let { priority } = Astro.props;
---

<li class="group @container !m-0 flex h-full w-full items-stretch !p-0">
	<article
		aria-labelledby={post.id}
		class="bg-base-primary-100 group-[:has(.group-trigger:hover,.group-trigger:focus)]:bg-base-primary-200 relative flex w-full flex-col rounded-3xl transition-colors @xl:flex-row-reverse"
	>
		{
			post.data.cover && (
				<figure class:list={["not-format w-full overflow-clip rounded-3xl"]}>
					<Picture
						aria-hidden={true}
						alt={post.data.coverMetadata?.alt ?? ""}
						class:list={[
							"aspect-video max-w-[1006px] transition-transform duration-250 motion-safe:group-[:has(.group-trigger:hover,.group-trigger:focus)]:scale-105 @xl:aspect-auto @xl:max-h-[414px]",
						]}
						src={post.data.cover}
						formats={["avif"]}
						fallbackFormat="jpg"
						layout="constrained"
						priority={priority}
					/>
				</figure>
			)
		}
		<div
			class="mr-auto flex w-full max-w-[514px] flex-col gap-y-3 p-8 pb-10 @xl:max-h-[414px]"
		>
			<div
				class="format format-sm dark:format-invert font-montserrat font-medium"
			>
				<PublishedOrUpdated prefix={false} {...post.data} />
				<span class="text-primary-500">•</span>{" "}
				<MinutesRead postId={post.id} />
			</div>
			<a
				id={post.id}
				href={`/posts/${post.slug}`}
				class="group-trigger !no-underline before:absolute before:inset-0"
			>
				<h3 class="!m-0 rounded-md !text-2xl !font-bold">
					{post.data.title}
				</h3>
			</a>
			<p class="!m-0 max-w-prose">
				{post.data.description ?? <i>No description found.</i>}
			</p>
			<!-- <div class="mt-1">
				<ArticleAuthors postId={post.id} size="medium" priority={priority} />
			</div> -->
		</div>
	</article>
</li>
