---
import Picture from "@/components/primitives/Picture.astro";
import { getCollection } from "astro:content";
import ArticleAuthors from "./ArticleAuthors.astro";
import MinutesRead from "./MinutesRead.astro";
import PublishedOrUpdated from "./PublishedOrUpdated.astro";

interface Props {
	class?: string;
	postId: string;
	priority?: boolean;
}
const { class: className, priority, postId }: Props = Astro.props;
const posts = await getCollection("posts");
const post = posts.find((post) => post.id === postId);

if (!post) return;
---

<li
	class:list={[
		"group @container !m-0 flex h-full w-full items-stretch !p-0",
		className,
	]}
>
	<article
		aria-labelledby={post.id}
		class="bg-base-primary-100 dark:bg-primary-400/10 format-base lg:format-lg relative flex w-full flex-col overflow-clip rounded-2xl transition-transform duration-250 group-[:has(.group-trigger:hover,.group-trigger:focus)]:rounded-tr-none @xl:h-[414px] @xl:flex-row-reverse"
	>
		<div
			class="bg-background pointer-events-none absolute -top-12 -right-12 z-10 flex h-24 w-24 translate-x-12 -translate-y-12 flex-col justify-end overflow-clip rounded-bl-xl transition-transform group-[:has(.group-trigger:hover,.group-trigger:focus)]:translate-0 motion-safe:duration-250"
		>
			<div
				class="border-l-accent-300 dark:border-l-accent-200/20 h-0 w-0 border-t-48 border-r-0 border-b-0 border-l-48 border-solid border-transparent"
			>
			</div>
		</div>
		{
			post.data.cover && (
				<figure class="not-format w-full overflow-clip rounded-2xl">
					<Picture
						aria-hidden={true}
						alt={post.data.coverMetadata?.alt ?? ""}
						class:list={[
							"aspect-video !h-full max-w-[1006px] transition-transform duration-250 motion-safe:group-[:has(.group-trigger:hover,.group-trigger:focus)]:scale-105 @xl:aspect-auto",
						]}
						src={post.data.cover}
						formats={["avif"]}
						fallbackFormat="jpg"
						layout="constrained"
						priority={priority}
					/>
				</figure>
			)
		}
		<div
			class="mr-auto flex w-full max-w-[502px] flex-col gap-y-3 p-8 pb-10 @xl:max-h-[414px]"
		>
			<div
				class="format format-sm dark:format-invert font-montserrat inline-flex items-center gap-x-[.5em] font-medium"
			>
				<PublishedOrUpdated prefix={false} {...post.data} />
				<div
					class="bg-accent-500 dark:bg-accent-300 h-1 w-1 rounded-full text-transparent"
					role="separator"
				>
					•
				</div>
				<MinutesRead postId={post.id} />
			</div>
			<a
				id={post.id}
				href={`/posts/${post.slug}`}
				class="group-trigger !no-underline before:absolute before:inset-0"
			>
				<h3 class="!m-0 rounded-md !text-2xl !font-bold">
					{post.data.title}
				</h3>
			</a>
			<p class="!m-0 max-w-prose">
				{post.data.description ?? <i>No description found.</i>}
			</p>
			<!-- <div class="mt-1">
				<ArticleAuthors postId={post.id} size="medium" priority={priority} />
			</div> -->
		</div>
	</article>
</li>
