---
// import { Picture } from "astro:assets";
import Image from "../primitives/Image.astro";
import { getCollection, getEntry } from "astro:content";
import PublishedOrUpdated from "./PublishedOrUpdated.astro";
import MinutesRead from "./MinutesRead.astro";
import ArticleAuthors from "./ArticleAuthors.astro";

interface Props {
	postId: string;
	large?: boolean;
}
const { postId }: Props = Astro.props;
const posts = await getCollection("posts");
const post = posts.find((post) => post.id === postId);

if (!post) return;

const { large } = Astro.props;
---

<li
	class=`!p-0 !m-0 flex xs:items-center gap-4 ${!large ? "xs:flex-row flex-col" : "flex-col sm:flex-row lg:flex-col"}`
>
	<a
		href=`/posts/${post.slug}`
		aria-hidden={true}
		tabindex={-1}
		class=`flex-shrink-0${large ? " sm:h-48 sm:w-auto lg:w-full lg:h-auto" : ""}`
	>
		<!-- formats={["avif", "webp"]} -->
		<Image
			aria-hidden={true}
			alt=""
			class=`not-format transition-transform !m-0 flex object-cover rounded items-center justify-center ${!large ? "hover:scale-105 xs:w-48 xs:h-36 sm:h-auto aspect-video w-full" : "hover:scale-[102%] w-full aspect-video sm:aspect-auto sm:h-48 sm:w-auto lg:w-full lg:h-auto lg:aspect-video"}`
			src={post.data.cover}
			loading="eager"
			quality="high"
			widths={[432, 720]}
			sizes=`(max-width: 720px) 720px, (max-width: 1600px) 1000px`
			transition:name=`cover-${post.slug}`
			placeholder="blur"
		/>
	</a>
	{
		!large ? (
			<div class="my-auto !m-0 flex-1 min-w-0">
				<a
					href={`/posts/${post.slug}`}
					class="group !no-underline outline-none !ring-0 flex-1 min-w-0"
				>
					{/* Workaround for broken styles if applied to a tag */}
					<h3 class="group-hover:underline !text-xl !mb-1 ring-violet-500 group-focus-visible:ring-2 rounded-md lg:text-ellipsis lg:whitespace-nowrap lg:overflow-hidden">
						{post.data.title}
					</h3>
				</a>
				<div class="format dark:format-invert">
					<PublishedOrUpdated {...post.data} /> •{" "}
					<MinutesRead postId={post.id} />
				</div>
				<div class="text-sm mt-1">
					<ArticleAuthors postId={post.id} size={large ? "medium" : "small"} />
				</div>
			</div>
		) : (
			<div class="flex flex-col gap-y-3 mr-auto">
				<div class="format dark:format-invert">
					<PublishedOrUpdated {...post.data} /> •{" "}
					<MinutesRead postId={post.id} />
				</div>
				<a
					href={`/posts/${post.slug}`}
					class="group !no-underline outline-none !ring-0"
				>
					{/* Workaround for broken styles if applied to a tag */}
					<h3 class="group-hover:underline !text-xl !mb-0 ring-violet-500 group-focus-visible:ring-2 rounded-md">
						{post.data.title}
					</h3>
				</a>
				{large && (
					<p class="!m-0 max-w-prose">
						{post.data.description ?? <i>No description found.</i>}
					</p>
				)}
				<ArticleAuthors postId={post.id} size={large ? "medium" : "small"} />
			</div>
		)
	}
</li>
