---
import Picture from "astro/components/Picture.astro";
import type { ImageMetadata, ImageTransform } from "astro";

type Props = {
	src: ImageMetadata;
	alt: string;
	deviceSizes?: number[];
	placeholder?: "blur" | "empty";
	formats?: ("avif" | "webp" | "png" | "jpg")[];
	emptySpaceFillBlur?: boolean;
} & Omit<ImageTransform, "src"> &
	Omit<astroHTML.JSX.ImgHTMLAttributes, "src" | "width" | "height">;

const {
	src,
	alt,
	title,
	class: className,
	quality,
	loading,
	decoding,
	style,
	...rest
} = Astro.props;
---

<button
	id="bigger-picture"
	class="flex mx-auto items-center justify-center rounded-md ring-offset-4 ring-offset-white dark:ring-offset-gray-900 outline-none focus-visible:ring-2 ring-violet-600 dark:ring-gray-50 hover:cursor-pointer"
	aria-label="Expand image"
>
	<Picture
		src={src}
		alt={alt}
		title={title}
		class={`flex items-center justify-center object-cover rounded-md mx-auto !my-0 h-auto w-auto${className ? ` ${className}` : ""}`}
		quality={quality}
		loading={loading}
		decoding={decoding}
		style={style}
		formats={["avif", "webp"]}
		{...rest}
	/>
</button>
