---
import getReadingTime from "reading-time";
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import { Image } from "astro:assets";
import PublishedOrUpdated from "../../components/articles/PublishedOrUpdated.astro";
import Callout from "../../components/primitives/Callout.astro";
import Link from "../../components/primitives/Link.astro";
import MinutesRead from "../../components/articles/MinutesRead.astro";

export async function getStaticPaths() {
	const blogEntries = await getCollection("posts");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry: post } = Astro.props;
const { Content } = await post.render();

type Props = {
	entry: CollectionEntry<"posts">;
};

const authorsPromise = post.data.authors.map(
	async (author) => (await getEntry("authors", author.id)).data
);
const authors = await Promise.all(authorsPromise);


---

<ArticleLayout
	seo={{
		title: post.data.title,
		description: post.data.description,
		openGraph: {
			basic: {
				image: post.data.cover?.src ?? "",
				title: post.data.title,
				type: "article",
			},
			article: {
				publishedTime: post.data.created.toISOString(),
				modifiedTime: post.data.lastEdited?.toISOString(),
				authors: authors.map((author) => author.name),
				section: post.data.tag,
			},
		},
	}}
>
	{
		post.data.cover && (
			<Image
				alt=""
				class="flex aspect-video w-full object-cover rounded-md items-center justify-center shadow"
				src={post.data.cover}
				loading="eager"
			/>
		)
	}
	{
		post.data.tag && post.data.tag.length > 0 && (
			<Link
				href="/"
				class="not-format block font-semibold mb-3 uppercase no-underline"
			>
				{post.data.tag}
			</Link>
		)
	}
	<h1 class="!mb-4">{post.data.title}</h1>
	<div class="flex flex-col xs:flex-row gap-4 align-middle !mb-4 lg:!mb-8">
		<div class="flex -space-x-4 rtl:space-x-reverse items-center flex-shrink-0">
			{
				authors.map((author) =>
					author.profile ? (
						<Image
							alt=""
							class="not-format w-12 h-12 lg:w-14 lg:h-14 !mt-0 !mb-0 object-cover rounded-full border-2 border-white dark:border-gray-800"
							src={author.profile}
							loading="eager"
						/>
					) : (
						<div class="relative inline-flex items-center justify-center w-12 h-12 lg:w-14 lg:h-14 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 border-2 border-white dark:border-gray-800" role="img">
							<span class="font-medium text-gray-600 dark:text-gray-300 select-none">
								{author.name
									.split(" ")
									.map((name) => name[0])
									.join("")
									.toUpperCase()}
							</span>
						</div>
					)
				)
			}
		</div>
		<div class="block">
			<span class="text-center"
				>Written by {authors.map((author) => author.name).join(", ")}</span
			><br />
			<span class="text-center">
				<PublishedOrUpdated lastEdited={post.data.lastEdited} {...post.data} /> •
				<MinutesRead postId={post.id} />
			</span>
		</div>
	</div>
	{
		post.data.draft && (
			<Callout type="Warning" removeTypeText={true}>
				<strong>This is a draft post!</strong> It has yet to be finalized.
			</Callout>
		)
	}
	<Content />
</ArticleLayout>
