---
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import ArticleAuthors from "@/components/articles/ArticleAuthors.astro";
import MinutesRead from "@/components/articles/MinutesRead.astro";
import PublishedOrUpdated from "@/components/articles/PublishedOrUpdated.astro";
import TableOfContents from "@/components/articles/table-of-contents/TableOfContents.astro";
import Callout from "@/components/primitives/Callout.astro";
import Link from "@/components/primitives/Link.astro";
import Picture from "@/components/primitives/Picture.astro";
import { MAIN_CONTENT_ID, PAGE_TITLE_ID } from "@/constants";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import BiggerPicture from "@/components/articles/bigger-picture/BiggerPicture.astro";
import UnderlineAnimate from "@/components/underline-animate/UnderlineAnimate.astro";
import LineSeparator from "@/components/primitives/LineSeparator.astro";

import StickerRound from "@/components/decorations/sticker-round/StickerRound.svelte";

export async function getStaticPaths() {
	const blogEntries = await getCollection("posts");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

type Props = {
	entry: CollectionEntry<"posts">;
};

const { entry: post } = Astro.props;
const { Content, headings } = await post.render();

const authorsPromise = post.data.authors.map(async (author) => {
	const authorEntry = await getEntry("authors", author.id);
	if (!authorEntry) throw new Error(`Missing author (author.id ${author.id})`);
	return authorEntry.data;
});
const authors = await Promise.all(authorsPromise);
---

<BiggerPicture />
<ArticleLayout
	seo={{
		title: post.data.title,
		description: post.data.seoDescription ?? post.data.description,
		noindex: post.data.noindex,
		openGraph: {
			basic: {
				image: post.data.cover?.src ?? "",
				title: post.data.title,
				type: "article",
			},
			article: {
				publishedTime: post.data.created.toISOString(),
				modifiedTime: post.data.lastEdited?.toISOString(),
				authors: authors.map((author) => author.name),
				section: post.data.tag,
			},
		},
	}}
	disableFormat
>
	<div
		class="relative mx-auto flex max-w-prose flex-col px-4 lg:max-w-[78.875rem] xl:px-0"
	>
		<div
			class="flex flex-col-reverse items-center gap-x-12 gap-y-8 lg:grid lg:grid-cols-2"
		>
			<div class="format dark:format-invert lg:format-lg h-fit">
				{
					post.data.tag && post.data.tag.length > 0 && (
						<Link
							href="/"
							class="not-format font-montserrat mb-3 inline-block font-medium uppercase no-underline"
						>
							{post.data.tag}
						</Link>
					)
				}
				<h1 id={PAGE_TITLE_ID} class="!mb-4">{post.data.title}</h1>
				<p class="format format-lg lg:format-xl dark:format-invert">
					{post.data.description}
				</p>
				<div class="flex flex-row items-start gap-4">
					<ArticleAuthors postId={post.id} size="large" priority={true} />
					<div class="flex flex-col">
						<strong
							><span class="sr-only">Written by </span>{
								authors.map((author) => author.name).join(", ")
							}<span class="sr-only"><br /></span></strong
						>
						<span>
							<PublishedOrUpdated
								lastEdited={post.data.lastEdited}
								created={post.data.created}
							/><span role="separator" aria-orientation="horizontal"> • </span>
							<MinutesRead postId={post.id} />
						</span>
					</div>
				</div>
			</div>
			{
				post.data.cover && (
					<div class="relative h-full">
						<Picture
							src={post.data.cover}
							alt={post.data.coverMetadata?.alt ?? ""}
							priority={true}
							layout="full-width"
							formats={["avif"]}
							fallbackFormat="jpg"
							pictureAttributes={{ class: "h-full" }}
							class="aspect-video !h-full rounded-2xl lg:aspect-auto"
						/>
						{post.id === "how-to-start-hrt-in-winnipeg.mdx" && (
							<div class="absolute top-12 right-16 hidden rotate-12 md:block 2xl:right-8">
								<StickerRound client:visible type="transgender" />
							</div>
						)}
					</div>
				)
			}
		</div>
		<LineSeparator class="my-8 lg:mt-12 lg:mb-8" />
		<div
			class="flex w-full flex-col justify-between pt-2 lg:flex-row-reverse lg:pt-0"
		>
			<UnderlineAnimate
				selector="* a"
				class="[--underline-color:var(--color-gray-900)] dark:[--underline-color:var(--color-gray-100)]"
			>
				<div
					class="format dark:format-invert top-0 right-0 bottom-0 flex h-fit min-w-min lg:sticky lg:h-dvh lg:pl-12 xl:!max-w-prose"
				>
					<TableOfContents headings={headings} />
				</div>
			</UnderlineAnimate>
			<UnderlineAnimate>
				<main
					class="format dark:format-invert lg:format-lg block max-w-[748px] not-print:pt-8"
					id={MAIN_CONTENT_ID}
				>
					{
						post.data.draft && (
							<Callout type="Warning" typeText="">
								<p>
									<strong>This is a draft post!</strong> It has yet to be
									finalized.
								</p>
							</Callout>
						)
					}
					{
						post.data.containsReferralLinks && (
							<Callout
								type="Info"
								typeText="This article contains affiliate links!"
							>
								<p>
									We receive a commission if you sign up for certain services
									linked below.
								</p>
							</Callout>
						)
					}
					<Content />
				</main>
			</UnderlineAnimate>
		</div>
	</div>
</ArticleLayout>
