---
import { PAGE_TITLE_ID } from '../../constants';
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import PublishedOrUpdated from "../../components/articles/PublishedOrUpdated.astro";
import Callout from "../../components/primitives/Callout.astro";
import Link from "../../components/primitives/Link.astro";
import MinutesRead from "../../components/articles/MinutesRead.astro";
import ArticleAuthors from "../../components/articles/ArticleAuthors.astro";
import Image from "../../components/primitives/Image.astro";
import TableOfContents from "../../components/articles/TableOfContents.astro";

export async function getStaticPaths() {
	const blogEntries = await getCollection("posts");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry: post } = Astro.props;
const { Content, headings } = await post.render();

type Props = {
	entry: CollectionEntry<"posts">;
};

const authorsPromise = post.data.authors.map(
	async (author) => (await getEntry("authors", author.id)).data
);
const authors = await Promise.all(authorsPromise);
---

<ArticleLayout
	seo={{
		title: post.data.title,
		description: post.data.description,
		openGraph: {
			basic: {
				image: post.data.cover?.src ?? "",
				title: post.data.title,
				type: "article",
			},
			article: {
				publishedTime: post.data.created.toISOString(),
				modifiedTime: post.data.lastEdited?.toISOString(),
				authors: authors.map((author) => author.name),
				section: post.data.tag,
			},
		},
	}}
	disableFormat
	hasImage
>
	<div class="relative flex flex-col gap-y-2 max-w-prose lg:max-w-screen-xl mx-auto px-4">
		<div
			class="relative lg:h-96 flex aspect-video w-full object-cover items-center justify-center rounded mb-4 overflow-clip max-w-full mx-auto"
		>
			<Image
				alt=""
				class="h-full w-full object-cover aspect-video lg:rounded-none rounded"
				src={post.data.cover}
				loading="eager"
				decoding="async"
				formats={["avif", "webp", "png"]}
				quality="high"
				widths={[1280, 1080, post.data.cover.width]}
				sizes=`(max-width: 1600px) 1280px ${post.data.cover.width}px`
				transition:name=`cover-${post.slug}`
				placeholder="blur"
				emptySpaceFillBlur
			/>
			<!-- <div>
				<Image
					alt=""
					class="absolute top-0 bottom-0"
					src={post.data.cover}
					loading="eager"
					decoding="async"
					formats={["avif", "webp", "png"]}
					quality="high"
					widths={[432, 720, 1080, post.data.cover.width]}
					sizes=`(max-width: 720px) 432px, (max-width: 1600px) 720px, (max-width: 2560px) 1080px, ${post.data.cover.width}px`
					transition:name=`cover-${post.slug}`
				/>
			</div> -->
		</div>
		<div class="format dark:format-invert lg:format-lg !max-w-full">
			{
				post.data.tag && post.data.tag.length > 0 && (
					<Link
						href="/"
						class="not-format block font-semibold mb-3 uppercase no-underline dark:text-gray-400"
					>
						{post.data.tag}
					</Link>
				)
			}
			<h1 id={PAGE_TITLE_ID} class="!mb-4">{post.data.title}</h1>
			<div class="flex flex-col xs:flex-row gap-4 !mb-4 lg:!mb-0">
				<ArticleAuthors postId={post.id} size="large" />
				<div class="block">
					<span class="text-center"
						>Written by {authors.map((author) => author.name).join(", ")}</span
					><br />
					<span class="text-center">
						<PublishedOrUpdated
							lastEdited={post.data.lastEdited}
							{...post.data}
						/> •
						<MinutesRead postId={post.id} />
					</span>
				</div>
			</div>
		</div>
		<div class="flex flex-col justify-between lg:flex-row-reverse w-full">
			<div class="format dark:format-invert lg:sticky top-0 right-0 lg:min-w-96 lg:max-w-[28rem] h-fit lg:pt-8 lg:pl-12">
				<TableOfContents headings={headings} />
			</div>
			<div class="block format dark:format-invert lg:format-lg mt-8">
				{
					post.data.draft && (
						<Callout type="Warning" typeText="">
							<strong>This is a draft post!</strong> It has yet to be finalized.
						</Callout>
					)
				}
				<Content />
			</div>
		</div>
	</div>
</ArticleLayout>
