---
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import ArticleAuthors from "@/components/articles/ArticleAuthors.astro";
import MinutesRead from "@/components/articles/MinutesRead.astro";
import PublishedOrUpdated from "@/components/articles/PublishedOrUpdated.astro";
import TableOfContents from "@/components/articles/table-of-contents/TableOfContents.astro";
import Callout from "@/components/primitives/Callout.astro";
import Link from "@/components/primitives/Link.astro";
import Picture from "@/components/primitives/Picture.astro";
import { PAGE_TITLE_ID } from "@/constants";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import BiggerPicture from "@/components/articles/bigger-picture/BiggerPicture.astro";

export async function getStaticPaths() {
	const blogEntries = await getCollection("posts");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry: post } = Astro.props;
const { Content, headings } = await post.render();

type Props = {
	entry: CollectionEntry<"posts">;
};

const authorsPromise = post.data.authors.map(async (author) => {
	const authorEntry = await getEntry("authors", author.id);
	if (!authorEntry) throw new Error(`Missing author (author.id ${author.id})`);
	return authorEntry.data;
});
const authors = await Promise.all(authorsPromise);
---

<BiggerPicture />
<ArticleLayout
	seo={{
		title: post.data.title,
		description: post.data.description,
		openGraph: {
			basic: {
				image: post.data.cover?.src ?? "",
				title: post.data.title,
				type: "article",
			},
			article: {
				publishedTime: post.data.created.toISOString(),
				modifiedTime: post.data.lastEdited?.toISOString(),
				authors: authors.map((author) => author.name),
				section: post.data.tag,
			},
		},
	}}
	disableFormat
>
	<div
		class="relative mx-auto flex max-w-prose flex-col gap-y-2 px-4 lg:max-w-screen-xl"
	>
		{
			post.data.cover && (
				<div class="relative mx-auto mb-4 flex aspect-video w-full max-w-full items-center justify-center overflow-clip rounded object-cover lg:h-96">
					<Picture
						alt=""
						class="aspect-video object-cover"
						src={post.data.cover}
						priority={true}
						layout="full-width"
						formats={["avif"]}
						fallbackFormat="jpg"
						pictureAttributes={{ class: "w-full" }}
						transition:name={`cover-${post.slug}`}
					/>
				</div>
			)
		}
		<div class="format dark:format-invert lg:format-lg !max-w-full">
			{
				post.data.tag && post.data.tag.length > 0 && (
					<Link
						href="/"
						class="not-format mb-3 block font-semibold uppercase no-underline"
					>
						{post.data.tag}
					</Link>
				)
			}
			<h1 id={PAGE_TITLE_ID} class="!mb-4">{post.data.title}</h1>
			<div class="xs:flex-row !mb-4 flex flex-col gap-4 lg:!mb-0">
				<ArticleAuthors postId={post.id} size="large" priority={true} />
				<div class="relative top-[.15em] block">
					<span
						>Written by {authors.map((author) => author.name).join(", ")}</span
					><br />
					<span>
						<PublishedOrUpdated
							lastEdited={post.data.lastEdited}
							created={post.data.created}
						/> •
						<MinutesRead postId={post.id} />
					</span>
				</div>
			</div>
		</div>
		<div
			class="flex w-full flex-col justify-between pt-2 lg:flex-row-reverse lg:pt-0"
		>
			<div
				class="format dark:format-invert top-0 right-0 flex h-fit !max-w-[38ch] min-w-min lg:sticky lg:pl-12 xl:!max-w-prose"
			>
				<TableOfContents headings={headings} />
			</div>
			{/* No idea why this is focusable */}
			<div
				class="format dark:format-invert lg:format-lg block pt-8 outline-offset-2 outline-violet-800 focus-visible:rounded focus-visible:outline-2 dark:outline-violet-50"
			>
				{
					post.data.draft && (
						<Callout type="Warning" typeText="">
							<p>
								<strong>This is a draft post!</strong> It has yet to be
								finalized.
							</p>
						</Callout>
					)
				}
				{
					post.data.containsReferralLinks && (
						<Callout
							type="Info"
							typeText="This article contains affiliate links!"
						>
							<p>
								We receive a commission if you sign up for certain services
								linked below.
							</p>
						</Callout>
					)
				}
				<Content />
			</div>
		</div>
	</div>
</ArticleLayout>
