---
// import { getCollection } from "astro:content";
// import { TagEnum } from "../content/config";
import ArticleCard from "@/components/articles/ArticleCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import RSSPromotion from "@/components/RSSPromotion.astro";
import UmbrellaWithGrass from "@/components/homepage/UmbrellaWithGrass.astro";

// const posts = await getCollection("posts");

// type Props = {
// 	entry: CollectionEntry<"posts">;
// };
//
// const mostRecent = posts.sort(
// 	(p) => p.data.lastEdited?.getDate() ?? p.data.created.getDate()
// )[0];
---

<BaseLayout seo={{ title: "Home" }}>
	<div
		class="pointer-events-none absolute inset-0 -z-10 mt-42 hidden overflow-y-visible text-[169px] leading-[.9] font-bold text-violet-50 select-none sm:block sm:overflow-x-hidden dark:text-violet-950/50"
		aria-hidden="true"
	>
		<div class="ml-[52.5vw]">
			<h1>Queer</h1>
			<h1 class="ml-28">Winnipeg</h1>
		</div>
	</div>
	<main
		id="main-content"
		class="format dark:format-invert lg:format-lg mx-auto -mt-8 w-full max-w-[1520px] pt-18"
	>
		<section class="flex w-full pr-4 pl-4 sm:pr-0">
			<span class="flex flex-col justify-center gap-y-1 sm:h-80 sm:w-7/12">
				<h1 class="!mb-0">Queer Winnipeg</h1>
				<h1
					class="!m-0 font-bold text-gray-400 selection:bg-violet-50 selection:text-violet-950/80 dark:selection:bg-violet-400/5 dark:selection:text-violet-100/80"
					role="paragraph"
				>
					<span class="sr-only">Queer Winnipeg</span> is an informal media org, writing
					articles for our local community and more.
				</h1>
			</span>
			<UmbrellaWithGrass />
		</section>
		<div class="flex flex-col gap-8 px-4">
			<section class="@container">
				<h2 class="lg:text-4xl">Featured</h2>
				<ul class="!m-0 flex list-none flex-col gap-6 !ps-0" role="list">
					<ArticleCard
						postId="how-to-take-the-bus-in-winnipeg.mdx"
						priority={true}
					/>
					<div class="grid gap-6 @lg:grid-cols-3">
						<ArticleCard
							postId="how-to-start-hrt-in-winnipeg.mdx"
							priority={true}
						/>
						<ArticleCard
							postId="how-to-change-your-legal-name-or-sex-in-manitoba.mdx"
							priority={true}
						/>
						<ArticleCard
							postId="save-hundreds-on-your-medications-with-pharmacare-manitoba.mdx"
							priority={true}
						/>
						<!-- <ArticleCard
							postId="a-guide-to-financial-literacy-in-canada.mdx"
							priority={true}
						/> -->
					</div>
				</ul>
			</section>
			<!-- <RSSPromotion /> -->
		</div>
	</main>
</BaseLayout>
