---
import { getCollection } from "astro:content";
// import { TagEnum } from "../content/config";
import StarGrid from "@/assets/decorations/star-grid.svg?raw";
import ArticleCard from "@/components/articles/ArticleCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import RSSPromotion from "@/components/RSSPromotion.astro";

const posts = await getCollection("posts");

// type Props = {
// 	entry: CollectionEntry<"posts">;
// };
//
// const mostRecent = posts.sort(
// 	(p) => p.data.lastEdited?.getDate() ?? p.data.created.getDate()
// )[0];
---

<BaseLayout seo={{ title: "Home" }}>
	<main
		id="main-content"
		class="format dark:format-invert lg:format-lg mx-auto -mt-8 w-full max-w-screen-xl px-4 pt-24"
	>
		<section class="relative my-4 max-w-prose">
			<span
				class="absolute -top-11 -left-11 -z-10 dark:opacity-30"
				aria-hidden="true"
			>
				<Fragment set:html={StarGrid} />
			</span>
			<h1 class="!mb-[0.5em] !text-[2.25em]">Queer Winnipeg</h1>
			<p>
				We're an online webpage of various written resources, primarily for
				queer people living in Winnipeg. Our goal is to help you navigate
				through life, through articles!
			</p>
		</section>
		<div class="flex flex-col gap-8">
			<section>
				<h2 class="!text-[1.75em]">Featured</h2>
				<div class="flex flex-col gap-x-8 gap-y-6 lg:flex-row">
					<div class="lg:w-1/2 lg:max-w-max">
						<ArticleCard
							size="large"
							postId="how-to-take-the-bus-in-winnipeg.mdx"
							priority={true}
						/>
					</div>
					<div class="flex flex-col gap-6 lg:w-1/2">
						{
							posts
								.filter((post) =>
									[
										"a-guide-to-financial-literacy-in-canada.mdx",
										"how-to-change-your-legal-name-or-sex-in-manitoba.mdx",
										"how-to-start-hrt-in-winnipeg.mdx",
										"save-hundreds-on-your-medications-with-pharmacare-manitoba.mdx",
									].includes(post.id),
								)
								.sort(
									(a, b) =>
										(b.data.lastEdited ?? b.data.created).getTime() -
										(a.data.lastEdited ?? a.data.created).getTime(),
								)
								.map((post) => <ArticleCard postId={post.id} priority={true} />)
						}
					</div>
				</div>
			</section>
			<RSSPromotion />
			<!-- <div class="flex flex-col gap-y-8">
				{
					TagEnum.options.map((value) => {
						if (
							!posts.some((post) => post.data.tag === value && !post.data.draft)
						)
							return;
						return (
							<div>
								<h2 class="!text-[1.75em]">{value}</h2>
								<ul class="list-none !p-0 !m-0 flex flex-col gap-6 lg:align-middle">
									{posts
										.filter(
											(post) => post.data.tag == value && !post.data.draft
										)
										.map((post) => (
											<ArticleCard postId={post.id} />
										))}
								</ul>
							</div>
						);
					})
				}
			</div> -->
		</div>
	</main>
</BaseLayout>
