---
import { Picture } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/articles/ArticleCard.astro";
import { TagEnum } from "../content/config";
import Background from "../assets/josh-lavallee-sM0q8DxTkWQ-unsplash.jpg";

const posts = await getCollection("posts");

type Props = {
	entry: CollectionEntry<"posts">;
};

const mostRecent = posts.sort(
	(p) => p.data.lastEdited?.getDate() ?? p.data.created.getDate()
)[0];
---

<BaseLayout seo={{ title: "Home" }}>
	<div class="relative h-96 overflow-hidden">
		<div class="bg-violet-100 dark:bg-violet-950 dark:bg-opacity-25 h-96 -z-30">
			<Picture
				alt=""
				src={Background}
				class="absolute inset-0 object-cover h-96 mix-blend-color-dodge brightness-[0.25] grayscale dark:brightness-100 dark:opacity-20"
				formats={["avif", "webp"]}
				loading="eager"
				decoding="async"
				widths={[540, 720, 1080, Background.width]}
				sizes={`(max-width: 720px) 540px, (max-width: 1600px) 720px, (max-width: 2560px) 1080px, ${Background.width}px`}
				quality="high"
			/>
		</div>
		<!-- Mask -->
		<div
			class="absolute top-full w-full h-full bg-white dark:bg-slate-900 transform -skew-y-1 origin-top-left"
		>
		</div>
	</div>

	<main
		id="main-content"
		class="mx-auto w-full max-w-screen-xl px-4 pt-24 -mt-8 format dark:format-invert lg:format-lg"
	>
		<div class="max-w-prose">
			<h1>Queer Winnipeg</h1>
			<p>
				We're an online webpage of various written resources, primarily for
				queer people living in Winnipeg. Our goal is to help you navigate
				through life, through articles!
			</p>
		</div>
		<div class="flex flex-col md:flex-row gap-8">
			<!-- <div
				class="w-full md:flex-shrink-0 md:w-[40%] p-8 rounded-md border-gray-300 border"
			>
				<Image
					src={mostRecent.data.cover}
					alt={mostRecent.data.coverAlt ?? ""}
					class="!m-0 flex aspect-video h-full object-cover rounded-md items-center justify-center shadow"
				/>
				<h2 class="!text-xl">
					Want to get notified when new articles come out?
				</h2>
				<p>We have an RSS feed!</p>
			</div> -->
			<div class="flex flex-col gap-y-8">
				{
					TagEnum.options.map((value) => {
						if (
							!posts.some((post) => post.data.tag === value && !post.data.draft)
						)
							return;
						return (
							<div>
								<h2 class="!text-2xl">{value}</h2>
								<ul class="list-none !p-0 !m-0 flex flex-col gap-6 lg:align-middle">
									{posts
										.filter(
											(post) => post.data.tag == value && !post.data.draft
										)
										.map((post) => (
											<ArticleCard postId={post.id} />
										))}
								</ul>
							</div>
						);
					})
				}
			</div>
		</div>
	</main>
</BaseLayout>
