---
import Link from "@/components/primitives/Link.astro";
import type { MarkdownHeading } from "astro";

interface Props {
	heading: MarkdownHeading & { subheadings?: MarkdownHeading[] };
	depth?: number;
	"aria-current"?: boolean;
	hideLeftLine?: boolean;
}

// Copied mostly from https://kld.dev/building-table-of-contents/
const { heading, hideLeftLine, "aria-current": ariaCurrent } = Astro.props;
const depth =
	Astro.props.depth == undefined || Number.isNaN(Astro.props.depth)
		? 1
		: Astro.props.depth;
const paddingLeft = !hideLeftLine ? "1.5rem" : "1rem";
---

<li
	class:list={[
		{
			"li-depth-base": depth <= 2,
			"group/item": depth == 2,
			"li-depth-gt2": depth > 2,
		},
	]}
>
	{
		/**
		 * `class="underline-on-hover"` and `data-underline-style="on-hover"` is
		 * re-implementing stuff from our Astro <Link> primitive, to make inline
		 * styles work properly.
		 */
	}
	<a
		href={"#" + heading.slug}
		aria-current={ariaCurrent}
		class="peer underline-on-hover"
		data-underline-style="on-hover"
	>
		{heading.text}
	</a>
	{!hideLeftLine && <div class="left-line" aria-hidden={true} />}
	{
		heading.subheadings && heading.subheadings.length > 0 && (
			<ul>
				{heading.subheadings.map((subheading) => {
					return (
						<Astro.self
							heading={subheading}
							hideLeftLine={hideLeftLine}
							depth={depth + 1}
						/>
					);
				})}
			</ul>
		)
	}
</li>

<style define:vars={{ depth, paddingLeft }}>
	a {
		padding-left: calc(
			var(--paddingLeft) * calc(var(--depth) - 1) + var(--paddingLeft)
		); /* 28px */
	}
</style>
