---
import type { MarkdownHeading } from "astro";

interface Props {
	heading: MarkdownHeading & { subheadings?: MarkdownHeading[] };
	depth?: number;
	"aria-current"?: boolean;
	hideLeftLine?: boolean;
}

// Copied mostly from https://kld.dev/building-table-of-contents/
const { heading, hideLeftLine, "aria-current": ariaCurrent } = Astro.props;
const depth =
	Astro.props.depth == undefined || Number.isNaN(Astro.props.depth)
		? 1
		: Astro.props.depth;
const paddingLeft = !hideLeftLine ? "1.5rem" : "1rem";
---

<li
	class:list={[
		"relative list-none",
		{
			"h-0 opacity-0 group-has-[[aria-current=true]]/item:h-full group-has-[[aria-current=true]]/item:opacity-100":
				depth > 2,
			"group/item": depth == 2,
			"h-full w-full": depth <= 2,
		},
	]}
>
	{
		/* .2em is for Chromium rendering differences with Firefox, due to the-
		"top-[.1em]" style; would remove if behaviour becomes consistent with
		Firefox */
	}
	<a
		href={"#" + heading.slug}
		class:list={[
			"peer ml-1 block py-2 !no-underline outline-hidden transition-none duration-75 ring-inset hover:text-gray-950 focus-visible:text-gray-950 focus-visible:!underline aria-current:font-semibold aria-current:text-gray-950 motion-safe:hover:transition-[font-weight] dark:hover:text-gray-50 dark:focus-visible:text-gray-50 dark:aria-current:text-gray-50",
		]}
		aria-current={ariaCurrent}
	>
		{heading.text}
	</a>
	{
		!hideLeftLine && (
			<div
				class:list={[
					"absolute top-0 bottom-0 w-[2px] bg-gray-100 peer-hover:bg-violet-300 peer-focus-visible:bg-violet-300 peer-aria-current:bg-violet-600 dark:bg-gray-800 dark:peer-hover:bg-gray-600 dark:peer-focus-visible:bg-gray-600 dark:peer-aria-current:bg-violet-400",
				]}
				aria-hidden={true}
			/>
		)
	}
	{
		heading.subheadings && heading.subheadings.length > 0 && (
			<ul>
				{heading.subheadings.map((subheading) => {
					return (
						<Astro.self
							heading={subheading}
							hideLeftLine={hideLeftLine}
							depth={depth + 1}
						/>
					);
				})}
			</ul>
		)
	}
</li>

<style define:vars={{ depth, paddingLeft }}>
	a {
		padding-left: calc(
			var(--paddingLeft) * calc(var(--depth) - 1) + var(--paddingLeft)
		); /* 28px */
	}
</style>
