---
import OpenInNew from "@/assets/icons/open-in-new.svg";
import { tv } from "tailwind-variants";

interface Props {
	id?: string;
	href?: string;
	class?: string;
	slotClass?: string;
	target?: "_blank" | "_self" | "_parent" | "_top";
	type?: "primary" | "secondary";
}
const {
	href,
	target,
	class: className,
	slotClass,
	type: buttonType,
	...rest
} = Astro.props;

const button = tv({
	base: "font-montserrat flex h-12 items-center justify-center gap-x-1.5 rounded px-5 text-base font-semibold backdrop-blur-2xl transition-colors active:transition-none",
	variants: {
		color: {
			primary:
				"bg-violet-200/50 text-violet-800 hover:bg-violet-200 active:bg-violet-300/20 active:text-violet-950 dark:bg-violet-400/15 dark:text-violet-300 dark:hover:bg-violet-400/25 dark:active:text-violet-400",
			secondary:
				"bg-gray-100 text-gray-800 hover:bg-gray-200/15 active:bg-gray-300/20 active:text-gray-950 dark:bg-gray-400 dark:text-gray-300 dark:hover:bg-gray-400/25 dark:active:text-gray-400",
		},
	},
	defaultVariants: {
		color: "primary",
	},
});
---

{
	href ? (
		<a
			href={href}
			target={target}
			class:list={[button({ color: buttonType }), className]}
			{...rest}
		>
			<div class={slotClass}>
				<slot />
			</div>
			{target == "_blank" && (
				<>
					<OpenInNew
						width="1em"
						height="1em"
						fill="currentcolor"
						aria-hidden={true}
					/>
					<span class="sr-only">Opens in new tab</span>
				</>
			)}
		</a>
	) : (
		<button class:list={[button({ color: buttonType }), className]} {...rest}>
			<div class={slotClass} style="position: relative; bottom: -0.1em;">
				<slot />
			</div>
		</button>
	)
}
